body{
    margin: 0;
    padding: 0;
}
.conteneur_change{
    width: 50%;
    height: 100vh;
    margin: auto;
 }
.change{
    height: 92vh;
    margin: auto;
	background: url(../image/ChampionsLeague2018.jpg)  center/cover  no-repeat;
}
.change .titre{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.change .titre h1{
    font-family: 'Outfit', sans-serif;
    color: white;
}
.change .titre a{
    color:white;
    font-size: 25px;
}
form{
    width: 70%;
    line-height: 70px;
    margin: auto;
    margin-top: 100px;
}
form input[type="text"],input[type="password"] {
    width: 80%;
    border-bottom: 1px solid white;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: transparent;
    margin-right: 10px;
    padding: 5px;
    color:white;
}
form input[type="submit"]{
    width: 90%;
    padding: 5px;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}
.fa-mobile{
    padding: 7px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
.fa-eye,.fa-eye-slash{
    color: white;
    cursor: pointer;
}
form input::placeholder{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
form a{
    display: block;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: white;
    width: 40%;
    margin: auto;
}
.lien_inscription a{
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 7vh;
    background-color: rgb(39, 194, 34);
    padding-top: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
}